## Practise Workbook - Pandas
**Day 1: 28 Jan 2022**

In [10]:
import pandas as pd

In [3]:
student = ['Varun', 'Vedant', 'Eshan']
pd.Series(student)

0     Varun
1    Vedant
2     Eshan
dtype: object

In [19]:
student_course = {'Varun': 'English',
                  'Vedant': 'Computer-Science',
                  'Eshan': 'Data-Science'
                 }
s = pd.Series(student_course)

In [20]:
s.index

Index(['Varun', 'Vedant', 'Eshan'], dtype='object')

In [7]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [22]:
names = [('Varun', 'More'),('Vedant', 'More'), ('Prathamesh', 'Ghatole')]
s1 =  pd.Series(names)
s1

0            (varun, more)
1           (vedant, more)
2    (Prathamesh, Ghatole)
dtype: object

In [28]:
s2 = pd.Series(['Varun', 'Rudraksh', 'Devang'], index= ['Machine-Learning', 'Data-Science', 'Computer-Science'])
s2

Machine-Learning       Varun
Data-Science        Rudraksh
Computer-Science      Devang
dtype: object

 **None vs NaN** -

If we create a list of numbers, integers, or floats and put it in a None type, pandas automatically converts this into a special floating-point value designated as NaN which stands for Not a Number.

In [9]:
student = ['Varun', 'Vedant', None]
pd.Series(student)

0     Varun
1    Vedant
2      None
dtype: object

In [8]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In above code sample third value is different value and pandas set the dtype to this series a floating point numbers instead of an object.

Pandas represent NaN as a floating point number and because all integers can type cast to float pandas type casted all the intergers to float.

In [12]:
import numpy as np

np.nan == None

False

In [29]:
np.nan == np.nan

False

In [30]:
#We use special function to test for the presence of (NaN) Not a Number such as the Numpy library isnan() function.
np.isnan(np.nan)

True

In [32]:
players = {
    'Varun':'Hockey',
    'Eshan':'Basketball',
    'Devang': 'Criket'
}
pd.Series(players, index = ['Varun', 'Eshan','Rudraksh'])

Varun           Hockey
Eshan       Basketball
Rudraksh           NaN
dtype: object